<div>
    {{#if emailSend}}
        <h1>Correo enviado!</h1>
    {{else}}
        <h1>
            {{#if newTitle}}
                Su link expiro, por favor introduzca su email para generar un nuevo link!
            {{else}}
                Restrablecer contraseña:
            {{/if}}
        </h1>
        <form action="/api/sessions/forgot-password" method="post">
            <label for="">Email:</label><input type="email" name="email">
            <div class="form-buttons">
                <button type="submit">Enviar</button>
            </div>
        </form>
    {{/if}}
</div>