<h1>Login user</h1>

<form action="/api/session/login" method="post">
    <label for="">Email: </label> <input type="email" name="email" /> <br /><br /> 
    <label for="">Password: </label> <input type="password" name="password" /> <br /><br /> 
    <span><a href="/forgot-password">Olvide mi contraseña</a></span>
    <button type="button"><a href="http://localhost:8080/register">Registrarse</a></button>
    <button type="submit">Iniciar sesion</button>
    <button type="button"><a href="/api/session/github">Entrar con github</a></button>
    <button type="button"><a href="/restore-password">Restaurar contraseña</a></button>
</form>